@import url('fontiran.css');
*{
    direction: rtl !important;
}
*:not(.icon){
    font-family: IRANSans !important;
}
body{
    padding:0;
    margin: 0;
}
input{
    text-align: right !important;
}

.AuthForm > div{
    margin-top: 1.8em !important;
}
/*Home Page Header*/
.header{
    text-align: right;
    padding:50px 0 8%;
}
.header h1,h2,p{
    color:white;
    text-shadow: 0 0 5px rgba(0,0,0,0.6);
}
.header p{
    font-size: 2em;
    font-weight: bold;
}
.header h1{
    font-size:4em;
    color:white;
}
.header h2{
    font-size: 3em;
}
.activeText{
    color:#34495e;
}
/*news class */
.news h1{
    color:#2c3e50;
}
.news p{
    color:#2c3e50;
    
    text-align: justify;
}
.news h3{
    text-align: right;
}
.ui.form .field .ui.input{
    direction: ltr !important;
}